beautifulsoup4
colorama
keybert
langdetect
newspaper3k
nltk
notify_py
numpy
pandas
python-dateutil
requests
scikit-learn
sentence-transformers
stanza
streamlit
streamlit-extras
textblob
torch
tqdm
trafilatura
transformers
validators