streamlit
streamlit-extras
nltk
scikit-learn
colorama
validators
datetime
textblob
langdetect
sentence-transformers
transformers
stanza
language-tool-python
requests
bs4
trafilatura
tqdm
newspaper3k
spacy
datamuse
autocorrect
ftfy
pandas
keybert